.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    
    
}
.text-navber{
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    color: transparent;
    background-clip: text;
    cursor: pointer;
    transform: 0.5s;
    
}
.text-navber:hover{
    transform: scale(1.05);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 18px;
}
 .nav-connect{
    padding: 15px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;   
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-connect{
    text-decoration: none;
    color: white;
}
.nav-mob-open{
    display: none;
}
.nab-mob-close{
    display: none;
}
@media (max-width:768px) {
    .navber{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nab-mob-close{
        display: block;
        position: relative;
        top: 10px;
        left: 123px;
        width: 20px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #1F0016;
        width: 150px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -150px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 80px;
        flex-direction: row;
        gap: 10px;

    }
}