.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 17px;
}
.work-title{
    position: relative;
}
.work-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.work-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    height: 40px;
}



.work-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.workCard{
    text-align: center;
    margin-top: 48px;
}
.workCard h3{
    font-size: 26px;
    font-weight: 600;
    background: linear-gradient(270deg,#DA7C25 6.20%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}
.workCard p{
    color: #d4d4d4;
    font-size: 20px;
    margin-top: 10px;
    
}
.workCard img{
    width: 500px;
    border-radius: 6px;
    margin-inline: 20px;
   
}
.workCard img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.workCard a{
    padding: 5px 22px;
    background: linear-gradient(270deg,#DA7C25 2.5%, #B923E1 102%);
    color: white;
    text-decoration: none;
    position: relative;
    top: 11px;
    border-radius: 40px;
    cursor: pointer;
}
@media(max-width:768px){
   .work{
     gap: 10px;
     margin: 50px 70px;
     align-items: start;
   }
   .work-title h1{
    padding: 0;
    font-size: 30px;
    font-weight: 600;
   }
   .work-title img{
    width: 130px;
    margin-right: -20px;
   }
   .workCard img{
    gap: 15px;
    width: 140%; 
    align-items: start;
    margin-left: -40px;
       
   }
   .workCard h3{
    font-size: 30px;
   }
   .workCard p{
    font-size: 18px;
   }

   
}

